@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

body {

  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  width: 100%;

}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}